<!-- 資料列表 -->
<section id="dataList" *ngIf="!isEditMode">
    <div class="grid">
        <!-- 標題 -->
        <div class="col-12 title" style="border-bottom: 3px solid green;">
            我的行程計畫
        </div>
        <!-- 計畫列表 -->
        <ng-container *ngIf="travelScheduleData.length > 0;else notCreated">
            <div class="col-12 md:col-6 lg:col-4 xl:col-3" *ngFor="let data of travelScheduleData">
                <div class="card">

                </div>
            </div>
        </ng-container>
        <!-- 還沒新增 -->
        <ng-template #notCreated>
            <div class="col-12 notCreated">
                <div class="card">
                    <label style="color: gray;">哎呀~ 看起來你還沒建立任何計劃呢，趕快來建立行程吧!</label>
                </div>
            </div>
        </ng-template>
    </div>
</section>

<!-- 資料編輯區域 -->
<section id="editArea" *ngIf="isEditMode">
    <div class="grid">
        <!-- 標題 -->
        <div class="col-12 title" style="border-bottom: 3px solid green;">
            {{schedule.title}}
            <label *ngIf="schedule.preparation_cost" style="float: right;">
                {{'預估花費:' + (schedule.preparation_cost | number:'3.0-0')}}
            </label>
        </div>
        <!-- 日期選項 -->
        <div class="col-12 grayBottom card">
            <div class="grid zeroPadding">
                <!-- 調整日期 -->
                <div class="col-2 xl:col-1 lg:col-1 md:col-1 center" style="margin: auto;">
                    <!-- 新增行程 -->
                    <button pButton type="button" icon="pi pi-cog" class="roundBtn" (click)="openEditBasicInfo()"
                        style="width: 40px;height: 40px;" [pTooltip]="'調整行程天數'">
                    </button>
                </div>
                <!-- 日期列 -->
                <div class="col-10 xl:col-11 lg:col-11 md:col-11">
                    <!-- 標題攔 -->
                    <div class="topBar">
                        <div class="topBarDiv">
                            <ul>
                                <li [class]="schedule.selected_introduce.pk_id === data.pk_id ? 'selectedTopBarLi' : 'topBarLi'"
                                    (click)="schedule.selected_introduce = data"
                                    *ngFor="let data of schedule.day_introduces;let i = index">
                                    <label>{{data.date | date: 'MM/dd'}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 頁尾 -->
<div class="footer">
    <!-- 新增行程 -->
    <button pButton type="button" icon="pi pi-plus" class="roundBtn" (click)="create()" *ngIf="!isEditMode">
    </button>
    <!-- 儲存 -->
    <button pButton type="button" icon="pi pi-save" class="roundBtn" (click)="confirmSave()" *ngIf="isEditMode"
        [disabled]="disabelBtn('save')">
    </button>
    <!-- 取消 -->
    <button pButton type="button" icon="pi pi-times" class="roundBtn" (click)="confirmCancel()" *ngIf="isEditMode">
    </button>
</div>

<!-- 基本資訊編輯 -->
<ng-container *ngIf="basicInfoSettingDialog">
    <p-dialog [(visible)]="basicInfoSettingDialog" [modal]="true" [style]="{width:'450px'}" [header]="'請輸入新建行程資訊'"
        [closable]="false">
        <div class="grid">
            <div class="col-12">
                <label>行程標題*</label>
                <input pInputText type="text" [(ngModel)]="selectedSchedule.title">
            </div>
            <div class="col-12">
                <label>起始日期*</label>
                <p-calendar [(ngModel)]="selectedSchedule.start_date" [minDate]="now" [yearNavigator]="true"
                    [monthNavigator]="true" (ngModelChange)="changeTravelDate('date')" [dateFormat]="'yy/mm/dd'"
                    [appendTo]="'body'">
                </p-calendar>
            </div>
            <div class="col-12">
                <label>行程天數*</label>
                <input pInputText type="number" [(ngModel)]="selectedSchedule.pass_day" [min]="1" [step]="1"
                    (ngModelChange)="changeTravelDate('day')" />
            </div>
            <div class="col-12">
                <label>結束日期*</label>
                <p-calendar [(ngModel)]="selectedSchedule.end_date" [minDate]="now" [yearNavigator]="true"
                    [monthNavigator]="true" (ngModelChange)="changeTravelDate('date')" [appendTo]="'body'"
                    [dateFormat]="'yy/mm/dd'">
                </p-calendar>
            </div>
            <div class="col-12">
                <label>預計花費</label>
                <input pInputText type="number" [(ngModel)]="selectedSchedule.preparation_cost">
            </div>
        </div>
        <p-footer>
            <!-- 確認 -->
            <button pButton type="button" icon="pi pi-check" [disabled]="disabelBtn('schedule_init')" [label]="'確認'"
                (click)="gotoNextStep()">
            </button>
            <!-- 取消 -->
            <button pButton type="button" icon="pi pi-times"
                (click)="confirmCancel(creatingStep === 1 ? null : 'basicInfo')" [label]="'取消'">
            </button>
        </p-footer>
    </p-dialog>
</ng-container>