<!-- 顯示所有行程計畫 -->
<ng-container *ngIf="!isEditMode">
    <!-- 資料列表 -->
    <div class="grid scheduleListGrid">
        <div class="col-12 center scheduleListTitle">
            {{'我的行程列表'}}
        </div>
        <div class="col-12">
            <!-- 行程列表 -->
            <div class="grid scheduleList">
                <!--  -->
                <div class="col-12 xl:col-4 lg:col-6 scheduleCol" *ngFor="let data of travelScheduleList"
                    (click)="getTravelSchedule(data.pk_id)">
                    <div class="scheduleCard">
                        <div class="grid">
                            <!-- 行程標題 -->
                            <div class="col-10 scheduleCardTitle">
                                <!-- 行程標題 -->
                                <label style="color: antiquewhite;">{{data.title}}</label>
                                <br>
                                <!-- 行程日期 -->
                                <label style="color: white;">
                                    {{
                                    (data.start_date | date:'yyyy/MM/dd (EE)') + '~' +
                                    (data.end_date | date:'yyyy/MM/dd (EE)')
                                    }}
                                </label>
                            </div>
                            <!-- 編輯行程按鈕 -->
                            <div class="col-2" *ngIf="false">
                                <button pButton type="button" class="scheduleSettingBtn" icon="pi pi-list"
                                    (click)="setEditScheduleDialog(true,data)">
                                </button>
                            </div>
                            <!-- 行程敘述 -->
                            <div class="col-12" style="border-top: 1px solid white;">
                                <div class="scheduleDescription">
                                    {{data.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 頁尾 -->
    <div class="footer">
        <label style="color: white;font-size: 21px;margin-right: 15px;">新增行程</label>
        <!-- 新增行程 -->
        <button pButton type="button" icon="pi pi-plus" class="roundBtn" (click)="create()">
        </button>
    </div>
</ng-container>

<!-- 編輯行程 -->
<ng-container *ngIf="isEditMode">
    <!-- 行程資訊 -->
    <div class="grid editPageGrid">
        <!-- 標題列 -->
        <div class="col-12">
            <div class="grid zeroPadding">
                <!-- 標題 -->
                <div class="col-12 xl:col-9 lg:col-9 md:col-6 title">
                    <!-- 調整日期 -->
                    <button pButton type="button" icon="pi pi-cog" class="roundBtn" (click)="openEditBasicInfo()"
                        [pTooltip]="'編輯基本資訊'" [tooltipPosition]="'right'" style="width: 40px;height: 40px;">
                    </button>
                    <label style="margin-bottom: 10px;">{{schedule.title}}</label>
                </div>
                <!-- 顯示模式 -->
                <div class="col-12 xl:col-3 lg:col-3 md:col-6 modeOption">
                    <p-selectButton [(ngModel)]="mode" [options]="modeOptions" optionLabel="label" optionValue="value">
                    </p-selectButton>
                </div>
            </div>
        </div>
        <!-- 顯示模式 -->
        <ng-container [ngSwitch]="mode">
            <!-- 行程安排 -->
            <ng-container *ngSwitchCase="'schedule'">
                <!-- 日期選項 -->
                <div class="col-12">
                    <div class="grid zeroPadding">
                        <!-- 新增單天行程 -->
                        <div class="col-6 xl:col-1 lg:col-1 md:col-2 center dateSettingBtnCol">
                            <button pButton type="button" icon="pi pi-plus" class="roundBtn"
                                (click)="createDayIntroduce()">
                            </button>
                            <br>
                            <label style="margin: auto;color: white;">新增行程</label>
                        </div>
                        <!-- 新增日期 -->
                        <div class="col-6 xl:col-1 lg:col-1 md:col-2 center dateSettingBtnCol" *ngIf="false">
                            <button pButton type="button" *ngIf="isEditMode" icon="pi pi-plus" class="roundBtn"
                                (click)="addNewScheduleDay()">
                            </button>
                            <br>
                            <label style="margin: auto;color: yellow;">新增天數</label>
                        </div>
                        <!-- 日期列 -->
                        <div class="col-12 xl:col-10 lg:col-10 md:col-8" style="display: flex;align-items: center;">
                            <!-- 標題攔 -->
                            <div class="dateOptionBar">
                                <div class="dateOptionBarDiv">
                                    <ul>
                                        <li [class]="schedule.selected_introduce.pk_id === data.pk_id ? 'selectedDateOption' : 'dateOption'"
                                            (click)="switchSelectedData(data)"
                                            *ngFor="let data of returnNotDeleteData(schedule.day_introduces);let i = index">
                                            <label>{{data.date | date: 'MM/dd'}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 標題列(手機模式不顯示) -->
                <div class="col-12 scheduleListTitle">
                    <div class="grid">
                        <!-- 移動 -->
                        <div class="col-6 xl:col-1 lg:col-2 md:col-3 autoCenter">
                            <label>{{'變更順序'}}</label>
                        </div>
                        <!-- 類型 -->
                        <div class="col-6 xl:col-1 lg:col-2 md:col-3 autoCenter">
                            <label>{{'行程類型'}}</label>
                        </div>
                        <!-- 停留時間 -->
                        <div class="col-12 xl:col-3 lg:col-2 md:col-6 autoCenter">
                            <label>{{'時段'}}</label>
                        </div>
                        <!-- 敘述 -->
                        <div class="col-12 xl:col-4 lg:col-4 md:col-6 autoCenter">
                            <label>{{'敘述'}}</label>
                        </div>
                        <!-- Google地圖網址 -->
                        <div class="col-12 xl:col-2 lg:col-1 md:col-4 center">
                            <label>{{'地點網址'}}</label>
                        </div>
                        <!-- 移除 -->
                        <div class="col-12 xl:col-1 lg:col-1 md:col-2 autoCenter">
                            <label>{{'移除'}}</label>
                        </div>
                    </div>
                </div>
                <!-- 行程列表 -->
                <div class="col-12 editPage">
                    <div class="grid dayPerScheduleList" id="dayPerScheduleList" cdkDropList
                        (cdkDropListDropped)="changeScheduleOrder($event)">
                        <div class="col-12 dragBlock" cdkDrag
                            *ngFor="let data of returnNotDeleteData(schedule.selected_introduce.schedule_list);let i = index">
                            <div class="scheduleBlock">
                                <div class="grid zeroPadding">
                                    <!-- 移動 -->
                                    <div class="col-6 xl:col-1 lg:col-2 md:col-3 autoCenter">
                                        <i class="pi pi-list" cdkDragHandle style="font-size: 25px;float: left;"></i>
                                        <label style="margin-left: 25px;font-size: 25px;">
                                            {{data.ser_no + '.'}}
                                        </label>
                                        <ng-container *ngIf="data.type === 'move';else stay">
                                            <label style="font-size: 45px;">🚝</label>
                                        </ng-container>
                                        <ng-template #stay>
                                            <label style="font-size: 45px;">🖼️</label>
                                        </ng-template>
                                    </div>
                                    <!-- 類型 -->
                                    <div class="col-6 xl:col-1 lg:col-2 md:col-3 autoCenter">
                                        <!-- 非整列顯示時出現說明 -->
                                        <label class="notRowLabel">行程類型</label>
                                        <p-radioButton [(ngModel)]="data.type" [label]="'停留'" [value]="'stay'">
                                        </p-radioButton>
                                        <p-radioButton [(ngModel)]="data.type" [label]="'移動'" [value]="'move'">
                                        </p-radioButton>
                                    </div>
                                    <!-- 停留時間 -->
                                    <div class="col-12 xl:col-3 lg:col-2 md:col-6 center">
                                        <!-- 非整列顯示時出現說明 -->
                                        <label class="notRowLabel">時段</label>
                                        <input pInputText type="text" [(ngModel)]="data.time">
                                    </div>
                                    <!-- 敘述 -->
                                    <div class="col-12 xl:col-4 lg:col-4 md:col-6 center">
                                        <!-- 非整列顯示時出現說明 -->
                                        <label class="notRowLabel">敘述</label>
                                        <input pInputText type="text" [(ngModel)]="data.description">
                                    </div>
                                    <!-- Google地圖網址 -->
                                    <div class="col-12 xl:col-2 lg:col-1 md:col-4 center">
                                        <!-- 非整列顯示時出現說明 -->
                                        <label class="notRowLabel">地點網址</label>
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon" (click)="gotoUrl(data.map_location)">
                                                📌
                                            </span>
                                            <input pInputText type="text" [(ngModel)]="data.map_location">
                                        </div>
                                    </div>
                                    <!-- 移除 -->
                                    <div class="col-12 xl:col-1 lg:col-1 md:col-2 center">
                                        <button pButton type="button" class="deleteBtn" [icon]="'pi pi-trash'"
                                            (click)="deleteDaysSchedule(i)">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 子項目 -->
                <div class="col-12 subDataGrid">
                    <div class="grid zeroPadding">
                        <!-- 餐食、住宿 -->
                        <div class="col-12 xl:col-5 lg:col-5">
                            <div class="grid zeroPadding">
                                <div class="col-12 xl:col-7 lg:col-7 md:col-7">
                                    <label>住宿🌃</label>
                                    <input pInputText type="text"
                                        [(ngModel)]="schedule.selected_introduce.hotel_name" />
                                </div>
                                <div class="col-12 xl:col-5 lg:col-5 md:col-5">
                                    <label (click)="gotoUrl(schedule.selected_introduce.hotel_map_location)"
                                        style="display: inline-flex;">
                                        網址📌
                                    </label>
                                    <input pInputText type="text" style="display: inline-flex;"
                                        [(ngModel)]="schedule.selected_introduce.hotel_map_location" />
                                </div>
                            </div>
                            <div class="grid zeroPadding">
                                <div class="col-12 xl:col-7 lg:col-7 md:col-7">
                                    <label>早餐🍽️</label>
                                    <input pInputText type="text"
                                        [(ngModel)]="schedule.selected_introduce.breakfirst" />
                                </div>
                                <div class="col-12 xl:col-5 lg:col-5 md:col-5">
                                    <label (click)="gotoUrl(schedule.selected_introduce.breakfirst_map_location)"
                                        style="display: inline-flex;">
                                        網址📌
                                    </label>
                                    <input pInputText type="text" style="display: inline-flex;"
                                        [(ngModel)]="schedule.selected_introduce.breakfirst_map_location" />
                                </div>
                            </div>
                            <div class="grid zeroPadding">
                                <div class="col-12 xl:col-7 lg:col-7 md:col-7">
                                    <label>午餐🍽️</label>
                                    <input pInputText type="text" [(ngModel)]="schedule.selected_introduce.launch" />
                                </div>
                                <div class="col-12 xl:col-5 lg:col-5 md:col-5">
                                    <label (click)="gotoUrl(schedule.selected_introduce.launch_map_location)"
                                        style="display: inline-flex;">
                                        網址📌
                                    </label>
                                    <input pInputText type="text" style="display: inline-flex;"
                                        [(ngModel)]="schedule.selected_introduce.launch_map_location" />
                                </div>
                            </div>
                            <div class="grid zeroPadding">
                                <div class="col-12 xl:col-7 lg:col-7 md:col-7">
                                    <label>晚餐🍽️</label>
                                    <input pInputText type="text" [(ngModel)]="schedule.selected_introduce.dinner" />
                                </div>
                                <div class="col-12 xl:col-5 lg:col-5 md:col-5">
                                    <label (click)="gotoUrl(schedule.selected_introduce.dinner_map_location)"
                                        style="display: inline-flex;">
                                        網址📌
                                    </label>
                                    <input pInputText type="text" style="display: inline-flex;"
                                        [(ngModel)]="schedule.selected_introduce.dinner_map_location" />
                                </div>
                            </div>
                        </div>
                        <!-- 購物清單 -->
                        <div class="col-12 xl:col-4 lg:col-4">
                            <label>{{'購物項目'}}</label>
                            <p-editor [(ngModel)]="schedule.selected_introduce.shopping_detail"
                                [style]="{ height: '250px',width:'100%' }">
                                <p-header>
                                </p-header>
                            </p-editor>
                        </div>
                        <!-- 備註 -->
                        <div class="col-12 xl:col-3 lg:col-3">
                            <label>{{'備註'}}</label>
                            <p-editor [(ngModel)]="schedule.selected_introduce.memo"
                                [style]="{ height: '250px',width:'100%' }">
                                <p-header>
                                </p-header>
                            </p-editor>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- 預算紀錄表 -->
            <ng-container *ngSwitchCase="'cost_record'">
                <!-- 標題 -->
                <div class="col-12 grayBottom center">
                    <label style="color: white;font-size: 26px;margin-top: 7px;">預算紀錄表</label>
                </div>
                <!-- 工具列 -->
                <div class="col-12" style="min-height: 70px;">
                    <!-- 新增預算紀錄 -->
                    <button pButton type="button" icon="pi pi-plus" [label]="'新增預算紀錄'" style="float: left;"
                        (click)="createCostRecord()">
                    </button>
                    <!-- 檢視花費分析 -->
                    <button pButton type="button" icon="pi pi-eye" style="float: left;"
                        (click)="setCostAnanalysisDialog(true)" [label]="'檢視花費分析'">
                    </button>
                    <!-- 預計花費 -->
                    <label class="totalCostLabel" style="margin-right: 120px;">
                        預計花費：<p-inputNumber [(ngModel)]="schedule.preparation_cost" [minFractionDigits]="0"
                            [maxFractionDigits]="5"></p-inputNumber>
                    </label>
                    <!-- 總花費 -->
                    <label class="totalCostLabel">
                        總花費：{{schedule.real_cost | number:'3.0-0'}}
                    </label>
                </div>
                <!-- 標題列 -->
                <div class="col-12">
                    <div class="grid zeroPadding costRecordListTitle" style="color: white;">
                        <!-- 類型 -->
                        <div class="col-1 center">
                            <label>{{'花費類型'}}</label>
                        </div>
                        <!-- 敘述 -->
                        <div class="col-4 center">
                            <label>{{'敘述'}}</label>
                        </div>
                        <!-- 價格 -->
                        <div class="col-2 center">
                            <label>{{'價格'}}</label>
                        </div>
                        <!-- 幣別 -->
                        <div class="col-1 center">
                            <label>{{'幣別'}}</label>
                        </div>
                        <!-- 匯率 -->
                        <div class="col-1 center">
                            <label>{{'匯率'}}</label>
                        </div>
                        <!-- 計算後成本 -->
                        <div class="col-2 center">
                            <label>{{'計算後成本'}}</label>
                        </div>
                        <!-- 移除 -->
                        <div class="col-1 center">
                            <label>{{'移除'}}</label>
                        </div>
                    </div>
                </div>
                <!-- 預算列表 -->
                <div class="col-12 costRecordList grayBottom">
                    <div class="grid zeroPadding ">
                        <div class="col-12"
                            *ngFor="let data of returnNotDeleteData(schedule.cost_records);let i = index">
                            <div class="grid zeroPadding" style="color: white;">
                                <!-- 類型 -->
                                <div class="col-1 center">
                                    <select pInputText [(ngModel)]="data.type">
                                        <option *ngFor="let option of costTypeOptions" [label]="option.label"
                                            [value]="option.value">
                                        </option>
                                    </select>
                                </div>
                                <!-- 敘述 -->
                                <div class="col-4 center">
                                    <input pInputText type="text" [(ngModel)]="data.description">
                                </div>
                                <!-- 價格 -->
                                <div class="col-2 center">
                                    <p-inputNumber [(ngModel)]="data.cost" (ngModelChange)="calcuteCost(data)">
                                    </p-inputNumber>
                                </div>
                                <!-- 幣別 -->
                                <div class="col-1 center">
                                    <input pInputText type="text" [(ngModel)]="data.currency_type" class="center">
                                </div>
                                <!-- 匯率 -->
                                <div class="col-1 center">
                                    <p-inputNumber [(ngModel)]="data.exchange_rate" (ngModelChange)="calcuteCost(data)"
                                        [style]="{'text-align':'right'}" [minFractionDigits]="0"
                                        [maxFractionDigits]="7">
                                    </p-inputNumber>
                                </div>
                                <!-- 計算後成本 -->
                                <div class="col-2" style="text-align: right;">
                                    <label style="margin-top: 9px;">
                                        {{data.final_cost > 1000 ? (data.final_cost | number:'3.0-0') :
                                        data.final_cost}}
                                    </label>
                                    <hr style="border: 1px solid white;margin-top: 6px;opacity: 0.5;">
                                </div>
                                <!-- 移除 -->
                                <div class="col-1 center">
                                    <button pButton type="button" class="deleteBtn" [icon]="'pi pi-trash'"
                                        (click)="deleteCostRecord(data)">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <!-- 頁尾 -->
    <div class="footer">
        <!-- 編輯模式 -->
        <ng-container *ngIf="isEditMode">
            <label style="color: white;">輸出PDF</label>
            <!-- 輸出PDF -->
            <button pButton type="button" icon="pi pi-file" class="roundBtn" (click)="downloadPdf()">
            </button>
            <!-- 儲存 -->
            <button pButton type="button" icon="pi pi-save" class="roundBtn" (click)="confirmSave()">
            </button>
            <!-- 取消 -->
            <button pButton type="button" icon="pi pi-times" class="roundBtn" (click)="confirmCancel()">
            </button>
        </ng-container>
    </div>
</ng-container>

<!-- 基本資訊編輯 -->
<ng-container *ngIf="basicInfoSettingDialog">
    <p-dialog [(visible)]="basicInfoSettingDialog" [modal]="true" [style]="{width:'800px','font-size':'16px'}"
        [header]="'請輸入新建行程資訊'" [closable]="false" [blockScroll]="true">
        <div class="grid">
            <div class="col-12">
                <label>行程標題<span style="color: red;">*</span></label>
                <input pInputText type="text" [(ngModel)]="selectedSchedule.title" style="border: 1px solid lightgray;">
            </div>
            <div class="col-12">
                <label>行程敘述<span style="color: red;">*</span></label><br>
                <textarea pInputTextArea [(ngModel)]="selectedSchedule.description" style="height: 150px;">
                </textarea>
            </div>
            <div class="col-12 xl:col-4 lg:col-4 md:col-4">
                <label>起始日期<span style="color: red;">*</span></label>
                <p-calendar [(ngModel)]="selectedSchedule.start_date" [minDate]="now" [yearNavigator]="true"
                    [monthNavigator]="true" (ngModelChange)="changeTravelDate('date')" [dateFormat]="'yy/mm/dd'"
                    [appendTo]="'body'">
                </p-calendar>
            </div>
            <div class="col-12 xl:col-4 lg:col-4 md:col-4">
                <label>行程天數<span style="color: red;">*</span></label>
                <input pInputText type="number" [(ngModel)]="selectedSchedule.pass_day" [min]="0" [step]="1"
                    (ngModelChange)="changeTravelDate('day')" style="border: 1px solid lightgray;" />
            </div>
            <div class="col-12 xl:col-4 lg:col-4 md:col-4">
                <label>結束日期<span style="color: red;">*</span></label>
                <p-calendar [(ngModel)]="selectedSchedule.end_date" [minDate]="now" [yearNavigator]="true"
                    [monthNavigator]="true" (ngModelChange)="changeTravelDate('date')" [appendTo]="'body'"
                    [dateFormat]="'yy/mm/dd'">
                </p-calendar>
            </div>
        </div>
        <p-footer>
            <!-- 確認 -->
            <button pButton type="button" icon="pi pi-check" [disabled]="disabelBtn('schedule_init')" [label]="'確認'"
                (click)="creatingStep === 1 ? gotoNextStep() : confirmSave('basicInfo')">
            </button>
            <!-- 取消 -->
            <button pButton type="button" icon="pi pi-times"
                (click)="confirmCancel(creatingStep === 1 ? null : 'basicInfo')" [label]="'取消'">
            </button>
        </p-footer>
    </p-dialog>
</ng-container>

<!-- 檢視圖表 -->
<ng-container *ngIf="costAnanalysisDialog">
    <p-dialog [(visible)]="costAnanalysisDialog" [modal]="true" [style]="{width:'800px','height':'100%'}"
        [header]="'檢視花費分析'" [closable]="false" [blockScroll]="true">
        <div style="width: 100%;height: 100%;">
            <div id="costRecordChart" style="width: 100%;height: 100%;" *ngIf="!chartLoading"></div>
        </div>
        <!-- 頁尾 -->
        <p-footer>
            <button pButton type="button" class="roundBtn" icon="pi pi-times" (click)="setCostAnanalysisDialog(false)">
            </button>
        </p-footer>
    </p-dialog>
</ng-container>