/* 包裹行程卡片的網格 */
.scheduleCol {
    padding: 25px;
    height: fit-content;
}

/* 行程顯示 */
.scheduleCard {
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 15px 10px 15px 20px;
    box-shadow: 5px 5px 0px 0px rgb(8, 65, 65);
    border: 2px solid white;
    background: linear-gradient(45deg, black, transparent);
    cursor: pointer;
    border-radius: 25px;
}

.scheduleCard>* {
    cursor: pointer;
}

.scheduleCard:hover {
    background: rgb(22, 46, 62);
}

/* 行程列表標題 */
.scheduleListTitle {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 5px 25px 0px 0px;
    border-top: 1px solid gray;
}

.scheduleCardTitle>* {
    cursor: pointer;
}

/* 行程卡片標題 */
.scheduleCardTitle>label:nth-child(1) {
    font-size: 19.5px;
    color: antiquewhite;
}

/* 行程卡片標題 */
.scheduleCardTitle>label:nth-child(2) {
    font-size: 17.5px;
    color: lightseagreen;
}

/* 行程敘述 */
.scheduleDescription {
    color: lightblue;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: 25px;
    font-weight: 750;
}

/* 行程刪除按鈕 */
.scheduleSettingBtn {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    float: right;
    background: darkcyan;
    border: 1px solid darkcyan;
    color: white;
    font-size: 25px;
}


hr {
    margin: 3px;
}

.scheduleListGrid {
    min-height: 85%;
    max-height: 85%;
    display: block;
}

.scheduleListGrid>.col-12:nth-child(2) {
    height: 100%;
    position: fixed;
}

/* 行程列表 */
.scheduleList {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 86%;
    max-height: 86%;
    border-bottom: 2px solid white;
    align-content: baseline;
}

/* 頁尾 */
:host .footer {
    position: fixed;
    bottom: 2%;
    right: 5%;
    display: flex;
    align-items: center;
}

/* 圓按鈕 */
:host .roundBtn {
    border-radius: 50%;
    background-color: darkcyan;
    color: white;
    border: 2px solid darkcyan;
    width: 40px;
    height: 40px;
}

:host label {
    margin-bottom: 0px;
}

/* 日期選項列 */
.dateOptionBar {
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
}

.dateOptionBarDiv>ul {
    display: inline-flex;
    width: 100%;
}

.dateOptionBarDiv>ul>li {
    list-style: none;
}

/* 可選日期選項 */
.dateOption {
    border-radius: 10px;
    border: 3px solid darkcyan;
    color: white;
    font-size: 16px;
    font-weight: 900;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

/* 可選日期選項 */
.dateOption:hover {
    background: darkcyan;
    color: white;
}

/* 日期選項 */
.dateOption>* {
    cursor: pointer;
}

/* 已選日期 */
.selectedDateOption {
    user-select: none;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    background: darkcyan;
    color: white;
    border: 3px solid darkcyan;
    font-size: 16px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.selectedDateOption>* {
    cursor: pointer;
}

/* 設定按鈕欄位 */
.dateSettingBtnCol {
    margin: auto;
    padding: 0px;
    text-align: center;
    margin-top: 0px;
}

/* 灰底 */
.grayBottom {
    border-bottom: 2px solid lightgray;
}

/* 行程敘述 */
.description {
    border-bottom: 3px solid rgb(177, 149, 98);
    color: white;
    font-size: 20px;
    padding-left: 45px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 行程標題 */
.title {
    padding-left: 25px;
}

/* 行程標題 */
.title>label {
    font-size: 25px !important;
    color: white;
}


.editPageGrid {
    min-height: 85%;
    display: contents;
}

/* 編輯介面 */
.editPage {
    min-height: 60%;
    display: block;
    color: white;
}

/* 行程編輯方塊 */
.scheduleBlock {
    margin: 5px 0px;
    padding: 5px;
}

/* 行程列表 */
.dayPerScheduleList {
    min-height: 60px;
    max-height: 60%;
    display: block;
    background: transparent;
    border-radius: 4px;
    overflow-x: auto;
    position: absolute;
    width: 99%;
    border-bottom: 0.5px solid white;
    margin-bottom: 10px;
}

/* 子項目網格下皆為白字 */
.subDataGrid {
    color: white;
}

/* 子項目網格的輸入框皆設定簡約風 */
.subDataGrid>*>*>*>*>.p-inputtext {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
}

/* 子項目小列表 */
.minList {
    min-height: 60px;
    max-height: 83%;
    display: block;
    background: transparent;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

/* 可拖曳方塊 */
.dragBlock {
    padding: 10px;
    color: white;
    background: transparent;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dayPerScheduleList.cdk-drop-list-dragging .dragBlock:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* 刪除按鈕 */
.deleteBtn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    border: 2px solid white;
}

::ng-deep .ql-editor {
    background: transparent;
    color: white;
}

::ng-deep :host .p-tabview-panels {
    height: 85%;
}

::ng-deep .p-selectbutton {
    transition: 0.3s;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
    background: white;
    color: darkcyan;
}

/* 花費紀錄列表 */
.costRecordList {
    min-height: 60px;
    max-height: 65%;
    min-width: 750px;
    background: transparent;
    border-radius: 4px;
    overflow: auto;
    position: absolute;
    width: 100%;
    position: static;
    padding-bottom: 25px;
}

.costRecordList>*>*>*>*>.p-inputtext {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
}

.costRecordList>*>*>*>*>select>option {
    background: rgb(31, 61, 81) !important;
    color: white !important;
    border-radius: 10px;
    transition: 0.3s;
}

/* 行程編輯區塊 */
.scheduleBlock>*>*>.p-inputtext,
input,
.p-inputgroup-addon {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
}

/* 總花費label */
.totalCostLabel {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    float: right;
}

/* 新增新的花費紀錄label */
.addNewRecordLabel {
    color: white;
    font-size: 20px;
    float: left;
    margin-top: 10px;
}

/* 預算紀錄表標題列 */
.costRecordListTitle>div {
    cursor: pointer;
}

/* 顯示模式 */
.modeOption {
    text-align: right;
}

/* 非整列顯示時出現說明 */
.notRowLabel {
    display: none;
}

/* 行動裝置專用顯示序號 */
.smallMoveContent {
    display: none;
}

/* 行動裝置新增單天行程 */
.addNewDayBtn {
    display: none;
}

/* 大螢幕的新增單天行程按鈕 */
.bigAddNewDayBtn {
    display: unset;
}

/** 預算標籤 */
.budgetLabel {
    color: white;
    font-size: 20px;
    float: right;
    margin-right: 10px;
}

/* 手機顯示的移除按鈕 */
.mobileDeleteBtn {
    display: none;
}

/* 行動版總花費 */
.mobileTotalCostLabel {
    display: none;
}

/* 排序格 */
.sortColumn,
.sortColumn>* {
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

/* 排序格的變換 */
.sortColumn:hover {
    background: rgb(34, 187, 187);
}

/* 檔案列表標題 */
.fileListTitle {
    padding-left: 115px;
    padding-bottom: 15px;
}

/* 檔案標題 */
.fileListTitle>label {
    font-size: 26px;
    color: white;
    display: inline-flex;
}

/* 上傳按鈕 */
.fileListTitle>div {
    display: inline-flex;
    position: relative;
    right: 0px;
    float: right;
}

/* 檔案列表 */
.fileList {
    min-height: 60px;
    max-height: 60%;
    display: block;
    background: transparent;
    border-radius: 4px;
    overflow-x: auto;
    position: absolute;
    width: 99%;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    margin-bottom: 10px;
}

/* 檔案上傳區域 */
::ng-deep .p-fileupload-content {
    max-height: 90%;
    min-height: 90%;
    height: 90%;
    border: 3px solid;
    border-radius: 15px;
    background: rgb(22, 46, 62);
    color: white;
    overflow: auto;
}

:host p-inputnumber {
    width: 100%;
}

@media screen and (min-width:501px) and (max-width:995px) {

    /* 行程列表標題 */
    .scheduleListTitle {
        display: none;
    }

    /* 行程編輯方塊 */
    .scheduleBlock {
        border-bottom: 1px solid orange;
    }

    /* 非整列顯示時出現說明 */
    .notRowLabel {
        display: block;
        color: burlywood;
        font-weight: 900;
    }
}

@media screen and (max-width:500px) {

    /* 每日行程列表 */
    .dayPerScheduleList {
        position: unset;
    }

    /* 行程刪除按鈕 */
    .scheduleSettingBtn {
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    /* 行程卡片標題 */
    .scheduleCardTitle>label:nth-child(1) {
        font-size: 19px;
    }

    /* 行程卡片標題 */
    .scheduleCardTitle>label:nth-child(2) {
        font-size: 16px;
    }

    /* 編輯介面 */
    .editPage {
        min-height: 47%;
        display: block;
    }

    /* 行程編輯方塊 */
    .scheduleBlock {
        border-bottom: 1px solid orange;
    }

    /* 顯示模式 */
    .modeOption {
        text-align: center;
        display: flex;
    }

    /* 行程列表標題 */
    .scheduleListTitle {
        display: none;
    }

    /* 非整列顯示時出現說明 */
    .notRowLabel {
        display: block;
        color: burlywood;
        font-weight: 900;
    }

    /* 新增單天行程 */
    .addNewDayBtn {
        position: fixed;
        bottom: 10px;
        display: block;
        z-index: 999999999;
    }

    /* 大螢幕的新增單天行程按鈕 */
    .bigAddNewDayBtn {
        display: none;
    }

    /* 移動顯示內容 */
    .moveContent {
        display: none;
    }

    /* 行動裝置專用顯示序號 */
    .smallMoveContent {
        display: block;
    }

    /* 子項目 */
    .subDataGrid {
        position: relative;
        padding-bottom: 85px;
    }

    /* 預算紀錄標網格 */
    .costRecordGrid {
        overflow-x: auto;
        min-width: fit-content;
        padding-bottom: 5%;
    }

    /* 預算列表 */
    .costRecordList {
        overflow: unset;
    }

    /* 手機顯示的移除按鈕 */
    .mobileDeleteBtn {
        display: flex;
    }

    /* 行程的網址 */
    .scheduleMapLocation {
        display: none;
    }

    /* 寬螢幕的移除行程按鈕 */
    .widthScreenDeleteBtn {
        display: none;
    }

    /** 手機編輯預算 */
    .mobileCostRecordColumn {
        display: none;
    }

    /* 總花費label */
    .totalCostLabel {
        margin-top: unset;
        float: unset;
        position: unset;
        margin-right: 0px !important;
        float: right;
    }

    /* 增加新預算按鈕 */
    .addNewCostRecordBtn {
        position: fixed;
        bottom: 18px;
        left: 0px;
        background: darkcyan;
        z-index: 9;
    }

    /* 行動版總花費 */
    .mobileTotalCostLabel {
        font-size: 19.5px;
        font-weight: 900;
        color: white;
        float: right;
        display: flex;
        margin: 0px auto;
    }

    /* 一般版總花費 */
    .totalCostLabel {
        display: none;
    }

    /* 檔案列表標題 */
    .fileListTitle {
        display: inline-flex;
        align-items: center;
    }
}